
	<legend>Panel de control</legend>
	
	<div class="row-fluid">
		<div class="span6" id="domicilios">
			<%= render partial: 'admin/domicilios_sin_conf', locals: {domicilios: @domicilios} %>
		</div>
		<div class="span6">
			<%= render partial: 'admin/ventas_sin_conf', locals: {ventas: @ventas_sin_conf} %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="well">
			<%= render partial: 'admin/ventas_sin_entregar', locals: {ventas: @ventas_sin_entregar} %>
		</div>				
	</div>	
	
