
	<tr>
		<td><strong><%= domicilio.nombre %></strong></td>
		<td><%= domicilio.descripcion %></td>
		<td><%= link_to raw("<i class='icon-ok icon-white'></i> Quiero recibirlo aquí"), "/cambiar_domicilio_entrega/#{id_actual}/#{domicilio.id}", class: 'btn btn-success' %></td>
	</tr>
