
	<div class="row">
		<div class="well span2 <%= (activo == 1) ? 'titulo_activo' : 'titulo_gris' %>">
			<h4>1 - Dónde recibirlo</h4>
			
		</div>
		<div style="float: left; margin-left: 12px; margin-top: 7px; margin-right: 12px;">
			<i class="icon-arrow-right"></i>
		</div>
		<div class="well span2 <%= (activo == 2) ? 'titulo_activo' : 'titulo_gris' %>" style="margin-left: 0px;">
			<h4>2 - Cuándo recibirlo</h4>
		</div>
		<div style="float: left; margin-left: 12px; margin-top: 7px; margin-right: 12px;">
			<i class="icon-arrow-right"></i>
		</div>
		<div class="well span2 <%= (activo == 3) ? 'titulo_activo' : 'titulo_gris' %>" style="margin-left: 0px;">
			<h4>3 - Terminar</h4>
		</div>
	</div>
