
	<div class="well titulo_celeste">
		<h3 style="float: left; margin-top: 3px;"><%= quitar_brs(Parametro.titulo_destacado_rotativo).html_safe %></h3>
		<%= render partial: 'combo_orden' %>
	</div>

	<%= render @destacados %>
