
	<div class="well titulo_azul">
		<h3>Nosotros</h3>
	</div>

	<div class="well shadow justify">
			<p>
				Pa&ntilde;alera Digital es nuestro servicio a domicilio de productos 
				Premium de uso regular, para el cuidado de tu beb&eacute;.
			</p>
			<p>
				Te ofrecemos precios de pañalera y te los llevamos a la puerta de tu casa.
			</p>
			<p>
				Sabemos que con la llegada de un beb&eacute; a la casa, todas las 
				actividades que antes eran sencillas, ahora se complican porque ten&eacute;s 
				que disponerte a salir con tu beb&eacute; (¡si es que ten&eacute;s uno 
				solo!) u organizar a qui&eacute;n se lo dej&aacute;s para poder hacer las 
				compras, estar a las corridas porque hay que darle de comer o cambiarle 
				los pa&ntilde;ales, etc.
			</p>
			<p>
				Hoy, Internet nos da la posibilidad de comprar en dos minutos. Te 
				ofrecemos todo lo que necesit&aacute;s para que no te muevas de tu casa y 
				puedas cuidar mejor de tu beb&eacute;.
			</p>
			<p>
				Bienvenida a Pa&ntilde;alera Digital (los pap&aacute;s tambi&eacute;n 
				bienvenidos) y esperamos te sea pr&aacute;ctica nuestra propuesta.	
			</p>
	</div>

