
	<div class="well titulo_azul">
		<h4>Servicios</h4>
	</div>

	<div class="well shadow justify">
		<h3>Sorpresas de Cumplea&ntilde;os y regalos por clientes frecuentes</h3>
		<p>
			Nos gusta mimar a nuestros beb&eacute;s, por eso, para los 
			cumplea&ntilde;itos,  Pa&ntilde;alera Digital les hace un peque&ntilde;o 
			obsequio. Tambi&eacute;n nos gusta que las mam&aacute;s y los pap&aacute;s 
			nos elijan una y otra vez, es por eso que nuestros clientes frecuentes, 
			reciben cada tanto, una sorpresa de nuestra parte. Eso si, ¡esperamos que 
			te guste! Pod&eacute;s agregar los cumplea&ntilde;os de tus hijos en "Mi 
			Cuenta / Mis Datos personales"
		</p>
		<br/>
		
		<h3>Delivery a domicilio el d&iacute;a y horario que vos elijas</h3>
		<p>
			Sin perseguir descuentos de tarjetas y de supermercados, sin depender de 
			los horarios cortados de las pa&ntilde;aleras del barrio, vos 
			eleg&iacute;s productos, d&iacute;a y hora, y recib&iacute;s y 
			pag&aacute;s los productos en la puerta de tu casa. El delivery es 
			gratuito si tu compra supera los 
			<%= number_to_currency(Parametro.monto_minimo_sin_envio) %>. Sino 
			abon&aacute;s <%= number_to_currency(Parametro.precio_envio) %> en 
			cualquier lugar de nuestro radio de reparto.		
		</p>
		<br/>
		
		<h3>Regalos para futuras mam&aacute;s</h3>
		<p>
			Muchas veces no sabemos qu&eacute; regalar porque normalmente los 
			pap&aacute;s van encarg&aacute;ndose de tener todo listo para cuando el 
			beb&eacute; llega a casa, pero te proponemos obsequios que les 
			aliviar&aacute;n mucho la tarea diaria, adem&aacute;s de ayudarles con los 
			primeros gastos, que no son menores.		
		</p>
		<blockquote>
			<h4>Canastas pre-elaboradas</h4>
				Estas canastas son ideales para regalar entre varias personas 
				(compa&ntilde;eros de trabajo, familiares, amigos)
			<ul>
				<li>
					Distintos sets de productos b&aacute;sicos para su cuidado personal y 
					del beb&eacute; en sus primeros meses de vida.</li>
			</ul>
		</blockquote>
		<br/>
		
		<h3>Regalos de Bienvenida para reci&eacute;n nacidos</h3>
		<p>
			Pensando en el reci&eacute;n nacido, hemos armado canastas con productos 
			de las mejores marcas, todos hipoalerg&eacute;nicos, para recibir al beb&eacute;.
		</p>
		<br/>
		
		<h3>Operaci&oacute;n Jard&iacute;n Maternal</h3>
		<p>
			Queremos simplificarles la vida a las mam&aacute;s que tienen que estar 
			mandando pa&ntilde;ales y toallitas al Jard&iacute;n Maternal. 
			Transportando bultos extras, recordando comprar de m&aacute;s, dando 
			indicaciones al pap&aacute; antes de salir, etc.
		</p>
		<p>
			Para ello, pod&eacute;s indicarnos los datos del jard&iacute;n de tu 
			beb&eacute; y con la frecuencia que tu jard&iacute;n habit&uacute;e a 
			recibir los pa&ntilde;ales, se los llevaremos.  Adem&aacute;s 
			tendr&aacute;s detallada cada compra en "mis pedidos" para que puedas 
			llevar control de tus gastos.
		</p>
		<p>
			Abon&aacute;s por este servicio mensualmente $70 y nosotros nos hacemos 
			cargo de la maternidad.
		</p>				
	</div>

