
	<%= form_for(@carrito) do |f| %>
  		<% if @carrito.errors.any? %>
  			<div class="row">
  				<div class="span6 offset3">
					<% @carrito.errors.full_messages.each do |msg| %>
						<span class="label label-important"><%= msg %></span><br/>
					<% end %>
  				</div>
  			</div>
			<br/>
		<% end %>

		<%= render partial: 'carrito_items/carrito_item_grande', collection: @carrito.carrito_items, as: :item, locals: {f: f} %>

  		<div class="actions">
    		<%= f.submit %>
  		</div>
	<% end %>
