<h1>Listing carritos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @carritos.each do |carrito| %>
  <tr>
    <td><%= link_to 'Show', carrito %></td>
    <td><%= link_to 'Edit', edit_carrito_path(carrito) %></td>
    <td><%= link_to 'Destroy', carrito, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Carrito', new_carrito_path %>
