
	<div class="well titulo_verde">
		<h3>1 - Revis&aacute; lo que pusiste en el carrito</h3>	
	</div>
	
	<div class="well shadow">
		<%= render partial: 'carritos/carrito_grande', locals: {carrito: @carrito} %>
			
		<div class="row">
			<div class="pull-right">
				<%= link_to raw("Siguiente >"), nueva_compra_seleccionar_domicilio_path, class: 'btn btn-info' %>
			</div>
		</div>
	</div>
	

	<br/>
	