
	<div class="well titulo_verde">
		<h3>Mi Carrito</h3>	
	</div>
	
	<div class="well shadow">
		<%= render partial: 'carritos/carrito_grande', locals: {carrito: @carrito} %>
			
		<div class="row">
			<div class="pull-right">
				<%= link_to raw("Seleccionar dirección de entrega <i class='icon-chevron-right icon-white'></i>"), new_venta_path, class: 'btn btn-info' %>
			</div>
		</div>
	</div>
	

	<br/>
	