// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.pagination
{
  padding-left: 40%;
}
div.pagination span, div.pagination em
{
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #DDD;
  border-left-width: 0;
}


table.table-striped tbody tr.oferta td
{
  background-color: #acffaa;
}
table.table-striped tbody tr.no_publicado td
{
  background-color: #d89595;
}

div.ref
{
  margin-top: 10px;
  float: left;
  width: 20px;
  height: 20px;
  border: solid 1px #DDDDDD;
}

div.ofertas
{
  background-color: #acffaa;
}
div.no_publicado
{
  background-color: #d89595;
}
div.destacado, table.table-striped tbody tr.destacado td
{
  background-color: #F2BA1B;
}

.strong
{
  font-weight: bold;
  font-size: 14px;
}

.red
{
  color: red;
}
