/*
 *= require jquery-ui-1.8.20.custom.css
 */
div#tira
{
	background-image: url('tira_colores.png');
	height: 10px;
	margin-top: 20px;
}

div#busqueda
{
	background-color: #f2ba1b;
	color: white;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 40px;
}
div#busqueda input[type=submit]
{
	font-size: 14px;
	font-weight: bold;
	height: 35px;
}
div#busqueda input[type=text]
{
	height: 25px;
	padding-left: 10px;
	margin-left: 0px;
}

div#carrito
{
	background-color: #9eaa4f;
	color: white;
	padding-right: 0px;
}
div#carrito h3
{
	margin-bottom: 10px;
}
div#carrito p
{
	font-weight: bold;
}

ul#categorias
{
	background-color: #ed3968;
}
ul#regalos
{
	background-color: #4FB0E2;
}
ul#categorias, ul#regalos
{
	color: white;
}
ul#categorias h3, ul#regalos h3
{
	margin-bottom: 10px;
}
ul#categorias li a, ul#regalos li a
{
	font-size: 12px;
	color: white;
}
ul#categorias li a:hover
{
	color: #ed3968;
}
ul#categorias .nav-list > .active > a 
{
	background-color: #F2BA1B;
	font-weight: bold;
}

ul#categorias li.active a:hover
{
	background-color: #CCCCCC;
}

.navbar ul.nav li a
{
	font-size: 16px;
	font-weight: bold;
}

div.page-header
{
	padding-top: 0px;
	padding-bottom: 0px;
}
div.page-header h1
{
	font-size: 50px;				
}
div.page-header h1 small
{
	font-size: 28px;
	font-weight: bold;
}

.shadow 
{
	-moz-box-shadow:    1px 1px 6px 3px #ccc;
	-webkit-box-shadow: 1px 1px 6px 3px #ccc;
	box-shadow:         1px 1px 6px 3px #ccc;
}
.mini-shadow 
{
	-moz-box-shadow:    1px 1px 3px 2px #ccc;
	-webkit-box-shadow: 1px 1px 3px 2px #ccc;
	box-shadow:         1px 1px 3px 2px #ccc;
}

div.destacado
{
	padding-bottom: 0px;
	height: 275px;
}

div#promos
{
	height: 180px;
}
div#destacados div#titulo
{
	background-color: #1c3d70;
	min-height: 16px;
	max-height: 16px;
	color: white;
	padding-top: 10px;
	font-size: 16px;
	font-weight: bold;
}
div.imagen_destacado
{
	height: 115px;
	text-align: center;
	display:table-cell;
   	vertical-align:middle;	
}

div#mi_cuenta
{
	background-color: #f2ba1b;
}
div#mi_cuenta h3
{
	margin-bottom: 10px;
}

div.titulo_gris
{	
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #DDDDDD;
	color: #AAAAAA;
}
div.titulo_activo
{
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFFFFF;
	background-color: #F2BA1B;
}
div.titulo_azul
{
	background-color: #14376B;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}
div.titulo_verde
{
	background-color: #9EAA4F;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}
div.titulo_naranja
{
	background-color: #F2BA1B;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.titulo_naranja h3
{
	color: #33332D;
}

/* Colores para validaciones */
div.field_with_errors input[type=text], 
	div.field_with_errors input[type=password], 
		div.field_with_errors input[type=email],
			div.field_with_errors input[type=tel]			
{
	border-color: red;
	background-color: #ffefef;
}
span.client_side_validation
{
	color: red;
	padding-left: 10px;
}

.navbar .nav > li.ofertas > a 
{
	color: #ED3968;
}

span.precio_total_linea
{
	font-weight: bold;
}

td.sin_stock
{
	background-color: #ffbcb2;
}

span.error
{
	font-weight: bold;
	color: red;
}