/*
 *= require jquery-ui-1.8.20.custom.css
 */
body {
	background-color: #f8ecc9;
	margin-left: 0px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 20px;
}
.nav1 {
	font-family: Century Gothic;
	font-size: 10pt;
	color: #3d2711;
	text-decoration: none;
}

 .nav1 a:link {
color: #3d2711;
text-decoration: none;
}

.nav1 a:visited {
color: #3d2711;
text-decoration: none;
}

.nav1 a:hover {
	color: #879E34;
	text-decoration: none;
}

.nav1 a:active {
color: #3d2711;
text-decoration: none;
}

.nav2 {
	font-family: Century Gothic;
	font-size: 8pt;
	color: #3d2711;
	text-decoration: none;
	
}

 .nav2 a:link {
color: #3d2711;
text-decoration: none;
}

.nav2 a:visited {
color: #3d2711;
text-decoration: none;
}

.nav2 a:hover {
	color: #879E34;
	text-decoration: none;
}

.nav2 a:active {
color: #3d2711;
text-decoration: none;
}


	div#menu_superior
	{
		width: 950px;
		height: 200px;
	}
	div#menu_superior div#top
	{
		background-color: #f8ecc9;
		width: 950px;
		height: 120px;
		text-align: left;
	}
	div#menu_superior div#top img#logo
	{
		margin-left: 39px;
		margin-top: 8px;
		float: left;
	}
	div#menu_superior div#bottom
	{
		background-color: white;
		width: 950px;
		height: 87px;
	}
	div#menu_superior div#bottom div#linea
	{
		border-bottom: dashed 1px;
	}
	div#menu_superior div#bottom img#slogan
	{
		margin-top: 8px;
	}
	div#menu_superior div#top div#menu_items
	{
		width: 550px;
		height: 35px;
		float: left;
		margin-top: 85px;
		margin-left: 45px;
	}
	div#menu_superior div#top div#menu_items ul
	{
		margin-top: 0px;
		padding-left: 0px;
		float: right;
		margin-right: 10px;
	}
	div#menu_superior div#top div#menu_items li
	{
		float: left;
		list-style: none;
		margin-right: 3px;
	}

	body
	{
		text-align: center;
	}
	div#main
	{
		margin:0 auto 0 auto; 
		width: 950px;
	}
	div#contenido
	{
		float: left;
		background-color: white;
		margin-top: 3px;
	}
	div#contenido div#menu_izquierdo
	{
		width: 180px;
		float: left;
		padding-top: 15px;
		text-align: left;
		padding-left: 10px;
	}
	div#contenido div#carrito
	{
		float: right;
		width: 170px;
		text-align: right;
		padding-right: 10px;
		padding-top: 15px;
	}
	div#contenido div#menu_izquierdo ul
	{
		margin-top: 0px;
		padding-top: 0px;
		padding-left: 0px;
		margin-left: 5px;
	}
	div#contenido div#menu_izquierdo li
	{
		list-style: none;
		font-family: Century Gothic;
		font-size: 13pt;
		color: #3d2711;		
	}
	div#contenido div#cuerpo_principal p
	{
		font-family: Century Gothic;
		font-size: 10pt;
		color: #3d2711;
	}
	ul#destacados
	{
		width: 100%;
		padding-left: 0px;
		float: left;
	}
	ul#destacados li
	{
		list-style: none;
		display: inline-block;
		font-family: Century Gothic;
		font-size: 12pt;
		color: #3d2711;
		text-decoration: none;
		margin-right: 20px;
		margin-left: 20px;
	}
	ul#destacados li p
	{
		margin: 0 0 0 0;
	}
	img#titulo_destacados
	{
		margin-top: 20px;
		margin-left: 130px;
		display: block;
	}
	div#cuerpo_principal img#foto
	{
		margin-top: 3px;
		float: left;
	}
	div#contenido div#cuerpo_principal
	{
		padding-top: 5px;
		width: 575px;
		float: left;
		margin-right: 5px;
	}	
	div#cuerpo_principal ul#botones_grandes
	{
		margin-top: 0px;
		height: 300px;
		float: right;
		padding-left: 0px;
	}
	div#cuerpo_principal ul#botones_grandes li
	{
		list-style: none;
		width: 193px;
		text-align: right;
		height: 81px;
		margin-right: 5px;
		margin-bottom: 2px;
	}
	div#footer
	{
		background-color: white;
		border-top: dashed 1px;
		float: left;
		width: 100%;
		margin-top: 20px;
	}
	div#copyright
	{
		padding-top: 50px;
		font-family: Century Gothic;
		font-size: 10pt;
		color: #3d2711;
	}
	div#mi_cuenta
	{
		font-family: Century Gothic;
		font-size: 12pt;
		color: #3d2711;
		margin-top: 20px;
		float: right;
		text-align: right;
		margin-right: 15px;
	}

	li.listado_productos
	{
		list-style: none;
		margin-bottom: 5px;
		float: left;
		width: 90%;
		background-color: #f6efdb;
		border-bottom: dotted 1px #948455;
	}
	li.listado_productos div.imagen
	{
		float: left;
		margin: 5px 5px 5px 5px;
	}
	li.listado_productos div.descripcion
	{
		float: left;
		margin: 5px 5px 5px 5px;
		text-align: left;
		font-family: Century Gothic;
		font-size: 12pt;
		color: #3d2711;
	}

	h2
	{
		font-family: Century Gothic;
		font-size: 16pt;
		color: #3d2711;
		text-align: left;
		border-bottom: dotted 1px #3d2711;
		margin-right: 40px; 
	}

	div.detalle_producto
	{
		float: left;
		background-color: #f6efdb;
	}
	div.detalle_producto div.imagen
	{
		float: left;
		margin: 15px 15px 15px 15px;		
	}
	div.detalle_producto div.descripcion
	{
		float: left;
		margin: 5px 5px 5px 5px;
		text-align: left;
		font-family: Century Gothic;
		font-size: 12pt;
		color: #3d2711;
		margin: 15px 15px 15px 15px;
		width: 65%;		
	}
	div.detalle_producto div.descripcion p
	{
		float: left;
	}
	div.detalle_producto input[type=number]
	{
		width: 40px;
	}
	
	div#carrito table
	{
		margin-left: 10%;
	}
	div#carrito table td.linea
	{
		border-bottom: dotted 1px;
	}
	div#carrito table td
	{
		font-family: Century Gothic;
		font-size: 10pt;
		color: #3d2711;
		text-align: left;
	}

	/* Estilo de los links. */
	a
	{
		text-decoration: underline;		
	}	
	a:link 
	{
		color: #e18122;
	}
	a:visited 
	{
		color: #e18122;
	}
	a:hover 
	{
		color: #879E34;
	}
	a:active 
	{
		color: #3d2711;
	}

