

	<%= render 'mi_cuenta/menu' %>
	
	<div class="tab-content">

		<div class="well titulo_naranja">
			<h3>Mis domicilios</h3>
		</div>
				
		<br/>
		<div class="row">
			<div class="span5 offset1">
				&nbsp;
				<%= render Domicilio.en_uso(@usuario) %>
			</div>
			<div class="span1">
				<%= link_to 'Agregar domicilio', {action: :new_domicilio}, {class: 'btn'} %>
			</div>
		</div>		
	</div>
	<br/>
	<br/>
	
</div>
