
	<%= render 'mi_cuenta/menu' %>

	<div class="tab-content">

		<div class="well titulo_naranja">
			<h3>Historial de pedidos</h3>
		</div>	
	
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Monto total</th>
					<th>Domicilio de entrega</th>
				</tr>
			</thead>
			<tbody>
				<% @usuario.ventas.sort{ |a, b| b.fecha <=> a.fecha }.each do |v| %>
					<tr>
						<td><%= v.fecha %></td>
						<td><%= number_to_currency(v.monto_total) %></td>
						<td><%= v.domicilio.descripcion %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	
	</div>
</div>
