
	<%= render 'mi_cuenta/menu' %>

	<div class="tab-content">

		<div class="well titulo_naranja">
			<h3>Historial de pedidos</h3>
		</div>	
	
	
	<ul>
		<% @usuario.ventas.sort{ |a, b| b.fecha <=> a.fecha }.each do |v| %>
			<li>
				<%= v.fecha %> - <%= number_to_currency(v.monto_total) %> - <%= v.domicilio.descripcion %>
			</li>
		<% end %>
	</ul>
	
	</div>
</div>
