
	<%= render 'mi_cuenta/menu' %>
	
	<div class="tab-content">

		<div class="well titulo_naranja">
			<h3>Vales de descuento</h3>
		</div>	
	
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Identificaci&oacute;n</th>
					<th>Descripci&oacute;n</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>
				<%= render @usuario.vales %>
			</tbody>
		</table>

	</div>
</div>
